@import "../../../styles/mixins";
@import "../../../styles/variables";

.projects-section {
    background-color: $default-green;
    color: $default-white;
    padding: 64px 0;

    &__title {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 32px;
    }

    .projects-grid {
        display: grid;
        width: 90%;
        max-width: 1440px;
        gap: 32px;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));


        a {
            display: block;
            position: relative;
            height: 260px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .project {
                position: absolute;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(93, 115, 88, 0.9);
                opacity: 0;
                transition: 0.2s;
            }
        }

        a:hover {
            opacity: initial;
        }

        a:hover .project {
            color: $default-white;
            opacity: 1;
        }
    }
}

@media screen and (676px < width < 1048px) {

    .last {
        grid-area: 2 / 1 / 2 / 3;
    }
}