@import "../../../styles/mixins";
@import "../../../styles/variables";


.about {
    @include general-width-setter;
    @include flex-setter(column, center, center);
    text-align: center;
    height: 300px;

    p {
        max-width: 750px;
        padding: 8px;
        @include grid-content-center;
        flex: 1;
    }

    .buttons {

        button {
            padding: 32px;
            transition: 0.25s;

            &:hover {
                transform: scale(1.15);
                color: $default-green;
            }

            &:active {
                transform: scale(0.85);
                color: inherit;
            }
        }
    }
}