@import "../../../styles/mixins";
@import "../../../styles/variables";


.about {
    @include general-width-setter($max-width: 100%);
    @include flex-setter(column, center, center);
    @include paragraph-text-center;
    height: 300px;
    

    p {
        width: 750px;
        max-width: 95%;
        padding: 8px;
        @include grid-items-center;
        flex: 1;
    }

    .buttons {

        button {
            padding: 32px;
            transition: 0.25s;

            &:hover {
                transform: scale(1.15);
                color: $default-red;
            }

            &:active {
                transform: scale(0.85);
                color: inherit;
            }
        }
    }
}

@media only screen and (400px < width < 768px) {
    .about {
        margin-top: -15dvw;
    }
}