@import "../../../styles/mixins";
@import "../../../styles/variables";

.skills-section {
    background-color: $default-green;
    color: $default-white;
    padding: 72px 0;

    h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 72px;
    }

    ul {
        width: 90%;
        max-width: 1440px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 24px;
        padding-bottom: 24px;
        font-size: 1.25rem;
    }
}

@media screen and (width < 768px) {
    .skills-section {
        ul {
            gap: 8px;
            text-align: center;
        }
    }
}