@import "../../../styles/mixins";
@import "../../../styles/variables";

.skills-section {
    background-color: $default-green;
    color: $default-white;
    padding: 32px 0;
    text-align: center;

    h2 {
        margin-bottom: 32px;
    }

    ul {
        @include general-width-setter;
        @include grid-items-center;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 16px;
        border-radius: $small-radius;

        li {
            position: relative;
            width: 100px;
            height: 100px;
            @include grid-items-center;
            border-radius: $medium-radius;
            background-color: rgba(255, 255, 255, 0.8);

            p {
                display: none;
                width: inherit;
                height: inherit;
                padding: inherit;
                border-radius: inherit;
                place-content: center;
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
            }

            &:hover p {
                display: grid;
                opacity: 1;
                background: rgba(93, 115, 88, 0.8);
            }
        }
    }
}

@media screen and (768px < width) {
    .skills-section ul {
        width: 450px;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
}

@media screen and (1440px < width) {
    .skills-section ul {
        width: fit-content;
        grid-template-columns: repeat(6, 100px);
    }
}

@media screen and (1800px < width) {
    .skills-section ul {
        grid-template-columns: repeat(12, 100px);
    }
}