.quote-section {
    margin: 5rem auto;
    text-align: center;

    p {
        * {
            display: block;
        }
        
        q {
            display: inline-flex;
            font-weight: 400;
            font-size: 2rem;
            padding-bottom: 16px;
            i {
                margin-top: -16px;
                margin-right: 16px;
            }
        }
        q::before {
            quotes: none;
        }
        q::after {
            quotes: none;
        }
        a {
            text-transform: uppercase;
            font-weight: 300;
        }
    }
}