.quote-section {
    margin: 5rem auto;
    text-align: center;

    p {
        width: 80%;
        max-width: 1440px;
        margin: auto;

        q {
            position: relative;
            font-weight: 400;
            font-size: 2rem;
            padding-bottom: 16px;

            i {
                position: absolute;
                top: -24px;
                left: -32px;
            }

            &::before {
                quotes: none;
            }

            &::after {
                quotes: none;
            }

        }

        a {
            margin-top: 16px;
            text-transform: uppercase;
            font-weight: 300;
            display: block;
        }
    }
}