@import "./variables";

@mixin general-width-setter ($max-width: $max-width, $width : 90%) {
    max-width: $max-width;
    width: $width;
    margin: auto;
}

@mixin grid-content-center {
    display: grid;
    place-content: center;
}

@mixin grid-items-center {
    display: grid;
    place-items: center;
}

@mixin flex-setter ($direction : $init, $justify : $init, $align: $init) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin paragraph-text-center {
    hyphens: auto;
    text-align: justify;
    text-align-last: center;
}

@mixin rotation-skill-circle($rotate-direction: normal) {
    animation: rotation 15s infinite linear;

    @if $rotate-direction == opposite {
        animation-direction: reverse;
    }
}

@mixin skill-circle($color: $color, $animation: $animation, $direction: right) {
    background-color: rgba($color, 0.6);
    animation: $animation 10s infinite;

    $rotate-direction: if($direction == right, normal, opposite);   
    $rotate-direction-li: if($direction == right, opposite, normal);

    .circle {
        @include rotation-skill-circle($rotate-direction);

        li {
            @include rotation-skill-circle($rotate-direction-li);
        }
    }
}