//Default Light Mode Colors

$default-gray: rgb(76, 76, 76);
$default-white: #fff;
$default-black: #000;
$default-green: rgb(168, 192, 164);

// Dark mode colors
$dark-mode-green: rgb(184, 226, 177);
$dark-mode-gray: rgb(55, 55, 55);
$dark-mode-darker-green: #4e5f54;