// Default Light Mode Colors
$default-gray: rgb(76, 76, 76);
$default-white: #fff;
$default-black: #000;
$default-green: rgb(168, 192, 164);

// blue: 42,53,75
//gray: 239, 240, 242

$light-gray: rgb(111, 111, 111);
$dark-green: rgb(78, 95, 84);

// Font-size
$font-xs: 1rem;
$font-m: 1.5rem;
$font-l: 2rem;
$font-xl: 3rem;
$font-2xl: 4rem;
$font-3xl: 5rem;
$font-4xl: 6rem;

// 
$max-width: 1440px;

$init: initial;

// Border radius
$small-radius: 5px;
$medium-radius: 15px;
$big-radius: 25px;
$circle-radius: 100%;