// Default Light Mode Colors
$default-gray: rgb(76, 76, 76);
$default-white: #fff;
$default-black: #000;
$default-green: rgb(168, 192, 164);

$light-gray: rgb(111, 111, 111);
$dark-green: rgb(78, 95, 84);
