* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  font-family: 'Red Hat Display', sans-serif;
  text-decoration: none;
  list-style: none;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

a {
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}