@import "../../../styles/mixins";
@import "../../../styles/variables";

.contact-section {
    @include grid-items-center;
    width: 70%;
    max-width: 580px;
    margin: auto;


    header {
        width: 100%;
        text-align: center;
        padding: 48px 0;

        h2 {
            margin-bottom: 16px;
        }

        p {
            a {
                color: $default-gray;
                text-decoration: underline;
            }
        }
    }

    form {
        display: grid;
        width: 100%;
        margin-bottom: 32px;

        input,
        textarea {
            padding: 4px 8px;
        }

        input {
            height: 2rem;
            min-width: 220px;
            width: 40%;
        }

        label {
            margin-top: 16px;
            margin-bottom: 4px;
        }

        button {
            margin: 16px auto;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            color: $default-gray;
            border: 1px $default-gray solid;
            border-radius: $small-radius;
        }

        button:hover {
            background-color: $default-gray;
            color: $default-white;
            border-color: $default-white;
        }
    }
}