@import "../../../styles/mixins";
@import "../../../styles/variables";

.contact-section {
    display: grid;
    place-items: center;
    width: 70%;
    max-width: 580px;
    margin: auto;

    header {
        width: 100%;
        text-align: center;
        padding: 48px 0;
        color: $default-black;

        h2 {
            font-size: 3rem;
            margin-bottom: 16px;
        }

        h3 {
            a {
                color: $default-gray;
                text-decoration: underline;
            }
        }
    }

    form {
        display: grid;
        width: 100%;
        color: $default-black;
        margin-bottom: 32px;

        input {
            height: 2rem;
            min-width: 220px;
            width: 40%;
        }

        label {
            margin-top: 16px;
            margin-bottom: 4px;
        }

        #message {
            width: 100%;
        }


        button {
            margin: 16px auto;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            background-color: $default-white;
            color: $default-gray;
            border: 1px $default-gray solid;
            border-radius: 5%;
        }

        button:hover {
            background-color: $default-gray;
            color: $default-white;
            border-color: $default-white;
        }
    }
}

@media screen and (768px < width) {
    .contact-section header h2 {
        font-size: 4rem;
    }
}