@import "../../styles/mixins";
@import "../../styles/variables";

.general-header {
    display: flex;
    color: $default-gray;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1440px;
        padding: 16px 0px;
        margin: auto;
        height: 48px;

        .navigation {

            .burger-button {
                display: none;
                width: 100%;
                height: 100%;
                text-align: end;
            }

            ul {
                display: flex;
                gap: 32px;

                li {
                    transition: 0.5s;

                    a,
                    button {
                        display: block;
                        padding: 8px;
                    }

                    button {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }


}

@media only screen and (max-width: 768px) {

    .general-header {
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: rgb(255, 255, 255, 0.7);


        nav .navigation {
            flex-direction: column;
            align-self: self-start;
            border-radius: 16px;
            gap: 0;
            border: solid 2px $default-gray;
            background-color: rgb(255, 255, 255, 0.7);
            align-items: end;

            ul {
                flex-direction: column;
                gap: 0;
                display: none;
                border-radius: inherit;
                text-align: end;


                li {
                    border-top: solid 2px $default-gray;
                }

                li:last-child {
                    text-align: center;
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;

                }
            }

            .burger-button {
                display: block;
                padding: 0.8rem;
            }
        }
    }

}

.displayed {
    display: flex !important;
}

.general-header .navigation ul li:hover {
    filter: blur(0px);
    font-weight: 400;
    color: #fff;
    background-color: $default-green;
    border-radius: 5px;

    a {
        opacity: 1;
    }
}

.general-header .navigation ul:hover li:not(:hover) {
    filter: blur(1px);
}