@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.project {
    width: 100%;
    height: 260px;
    @include grid-items-center;

    &__stack {
        display: flex;
        gap: 4px;
    }

    &__title {}

    &__detail {
        padding: 0 16px;
    }
}