@import "../../styles/mixins";
@import "../../styles/variables";

footer {
    background-color: $default-green;
    color: $default-white;

    a {
        transition: 0.25s;
    }

    a:hover {
        text-decoration: underline;
        font-size: calc(1em * 1.25);
    }

    nav {
        @include general-width-setter;
        height: 20px;
        padding: 24px 0;
        @include flex-setter($init, space-between, center);

        ul {
            display: flex;
            gap: 16px;
            padding-left: 64px;
        }

        .social-list {
            margin-left: auto;
        }
    }

    p {
        text-align: center;
        padding: 24px 0 64px;
    }
}

@media only screen and (max-width: 768px) {
    footer nav .nav-list {
        display: none;
    }
}