@import "../../styles/mixins";
@import "../../styles/variables";

footer {
    background-color: $default-green;
    color: $default-white;

    nav {
        width: 90%;
        max-width: 1440px;
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        margin: auto;

        ul {
            display: flex;
            gap: 16px;
            padding-left: 64px;
        }

        .social-list {
            margin-left: auto;
        }
    }

    p {
        text-align: center;
        padding: 24px 0 64px;
    }
}

@media only screen and (max-width: 768px) {
    footer nav .nav-list {
        display: none;
    }
}