@import "../../styles/mixins";
@import "../../styles/variables";

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    background-color: $default-green;
    color: $default-white;

    nav {
        min-width: 80%;
        max-width: 1440px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: 3rem;

        div {
            display: flex;
            gap: 3rem;

            ul {
                display: flex;
                gap: 1rem;
            }
        }

        ul {
            display: flex;
            gap: 1rem;
        }
    }
}