@import "../../../styles/mixins";
@import "../../../styles/variables";
@import "../../../styles/animations";

#home .home-header {
    @include general-width-setter;
    position: relative;

    .img-container {
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .pull-and-card {
        @include grid-content-center;
        place-items: center;
        width: 50%;
        font-size: 3rem;
        position: relative;

        span {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 100;

            .letter {
                animation: error-animation 2.5s infinite;
            }

            @for $i from 1 through 5 {
                $delay: 0.25s * ($i);

                .letter-#{$i} {
                    animation-delay: $delay;
                }
            }
        }

        svg {
            animation: pull-me-animation 5s infinite;
        }
    }
}

@media screen and (width <=768px) {
    #home .home-header {

        .img-container {
            min-width: 80%;
            max-width: 500px;
            aspect-ratio: 1;
            border-radius: $circle-radius;
            margin: auto;
            overflow: hidden;

            img {
                height: 50%;
            }
        }

        .pull-and-card {
            @include general-width-setter(500px, 100%);
            display: grid;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
        }

    }
}

@media screen and (768px < width) {
    #home .home-header {
        @include flex-setter($init, space-between);
        padding: 36px 0;

        .img-container {
            width: 50%;

            img {
                height: auto;
            }
        }

        .pull-and-card {
            @include grid-content-center;
            place-items: center;
            width: 50%;
            font-size: 3rem;
        }
    }
}