@import "../../../styles/mixins";
@import "../../../styles/variables";

@media screen and (width <=768px) {
    #home .home-header {
        @include general-width-setter;
        @include grid-content-center;
        position: relative;

        .img-container {
            min-width: 80%;
            max-width: 500px;
            aspect-ratio: 1;
            border-radius: $circle-radius;
            margin: auto;
            overflow: hidden;

            img {
                height: 50%;
                width: 100%;
                object-fit: cover;
            }
        }

        h1 {
            width: 100%;
            max-width: 500px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            margin-top: 16px;

            * {
                display: block;
            }

            .name,
            .last-name {
                line-height: 1;
                text-transform: uppercase;
            }

            .name {
                margin-right: 55px;
            }

            .last-name {
                margin-left: 100px;
            }

            .job-title {
                font-weight: 300;
            }
        }
    }
}

@media screen and (768px < width) {
    #home .home-header {
        @include general-width-setter;
        @include flex-setter($init, space-between);
        padding: 36px 0;

        .img-container {
            width: 50%;

            img {
                height: auto;
                width: 100%;
                object-fit: cover;
            }
        }

        h1 {
            @include grid-content-center;
            width: 50%;
            grid-template-columns: 1fr;

            .name,
            .last-name {
                text-align: center;
                line-height: 0.9;
                text-transform: uppercase;
            }

            .name {
                margin-left: -55px;
            }

            .last-name {
                margin-left: 100px;
            }

            .job-title {
                text-align: center;
                font-weight: 300;
            }
        }
    }
}


.job-title {
    font-size: calc(1em/2);
}