@import "../../../styles/mixins";
@import "../../../styles/variables";

@media screen and (width <=768px) {
    #home .home-header {
        @include general-width-setter;
        @include grid-content-center;
        position: relative;

        .img-container {
            min-width: 80%;
            max-width: 500px;
            aspect-ratio: 1;
            border-radius: $circle-radius;
            margin: auto;
            overflow: hidden;

            img {
                height: 50%;
                width: 100%;
                object-fit: cover;
            }
        }

        p {
            width: 100%;
            max-width: 500px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            margin-top: 16px;
        }
    }
}

@media screen and (768px < width) {
    #home .home-header {
        @include general-width-setter;
        @include flex-setter($init, space-between);
        padding: 36px 0;

        .img-container {
            width: 50%;

            img {
                height: auto;
                width: 100%;
                object-fit: cover;
            }
        }

        p {
            @include grid-content-center;
            place-items: center;
            text-align: center;
            width: 50%;
            font-size: 3rem;
        }
    }
}